@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-4 card p-5">
            <div class="mb-2 justify-content-center text-center">
                <h3>@ViewData["Title"]</h3>
            </div>
            <hr/>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="needs-validation" asp-validation-summary="ModelOnly">

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group my-4">
                    <label asp-for="Input.Username">Username</label>
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username"/>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-grid gap-2 my-4">
                    <button id="registerSubmit" type="submit" class="btn btn-block btn-primary">Register</button>
                </div>
            </form>

            <p>
                Already have an account?
                <a asp-page="./Login">
                    Log in
                </a>
            </p>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}