@model Book

@{
    ViewData["Title"] = "ViewBook";
}

<div class="container min-vh-100 text-center mt-5">
    <h1 class="mb-4">View Book</h1>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2 text-right">
                    <strong>Name:</strong>
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-2 text-right">
                    <strong>Price:</strong>
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-2 text-right">
                    <strong>Stock:</strong>
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-2 text-right">
                    <strong>Image:</strong>
                </div>
                <div class="col-sm-10">
                    <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Book Image" class="img-fluid w-25"/>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 mb-4">
        <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
    </div>
</div>