@model GameQuestion

@{
    ViewData["Title"] = "Delete Question";
}

<div class="container mt-5 vh-100">
    <h1>Delete Question</h1>

    <div class="card">
        <div class="card-body">
            <h3>Are you sure you want to delete this?</h3>

            <!-- Display Book Details -->
            <div class="book-info mb-3 flex flex-column">
                <p>
                    <strong>Question</strong> @Model.Question
                </p>
                <p>
                    <strong>Answer:</strong> @Model.Answer
                </p>
            </div>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="GameQuestionId"/>
                <button type="submit" class="btn btn-danger me-1">Delete Book</button>
                <a asp-action="Index" class="btn btn-secondary ms-1">Back to List</a>
            </form>
        </div>
    </div>
</div>