@{
    ViewData["Title"] = "About us";
}

<section class="py-5" style="background-color: #f9fafa">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between hero">
            <div>
                
                <h1 style="font-size: 5rem" class="text-center">About Us</h1>
                <p class="lead my-4">
                    Welcome to our student-built e-library! We've pooled our diverse
                    talents to create an accessible and enriching digital reading
                    experience. Explore a world of e-books and articles with us!
                </p>

                <h3 class="text-center">Meet our team:</h3>
                <div>
                    <p class="text-center mt-5">Kareem Shoaib 20P5553</p>
                    <img
                        src="~/imgs/people/Kareem Shoaib.jpg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="Kareem"/>
                </div>

                <div>
                    <p class="text-center mt-5">Mazen Tayseer 20P7460</p>
                    <img
                        src="~/imgs/people/Mazen Tayseer.jpeg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="Mazen Tayseer"/>
                </div>

                <div>
                    <p class="text-center mt-5">Kareem Ramzi 20P3845</p>
                    <img
                         src="~/imgs/people/Ramzi.jpg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="..."/>
                </div>

                <div>
                    <p class="text-center mt-5">Adham Amr 20P5249</p>
                    <img
                       src="~/imgs/people/Adham.jpg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="..."/>
                </div>

                <div>
                    <p class="text-center mt-5">Ahmed Tarek 20P8417</p>
                    <img
                       src="~/imgs/people/Tarek.jpg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="..."/>
                </div>

                <div>
                    <p class="text-center mt-5">Mohammed Maghraby 20P7732</p>
                    <img
                        src="~/imgs/people/Ma8raby.jpg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="..."/>
                </div>

                <div>
                    <p class="text-center mt-5">Mohamed Khaled 20P9416</p>
                    <img
                       src="~/imgs/people/Mooo.jpg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="..."/>
                </div>

                <div>
                    <p class="text-center mt-5">Nadin Ahmed 20P8103</p>
                    <img
                        src="~/imgs/people/Nadin.jpg"
                        class="mx-auto d-block  rounded-circle"
                        style="height: 150px; width: 150px;"
                        alt="..."/>
                </div>

            </div>
        </div>
    </div>
</section>